.fpas-container{
    padding-top: 200px;
    padding-right: 50px;
    background-color: #f3f3f3;
    padding-bottom: 30px;
}

.HeadingText{
    font-size:35px;
    font-weight:bold;
    padding-left: 370px;
}

.para{
font-size:20px;
/* border: 1px solid blue; */
font-weight: bold;
width:45%;
padding-left: 370px;
}

.fpas_btn{
display: flex;
flex-direction:column;
padding-left: 220px;
padding-top:30px;
}

.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:150px;
    height: 40px;  
}

.btn-1{
    background-color: #959595; 
    color: white; 
    border:none;

}
.btn-1:focus{
    outline:none;
    background-color: black;
}

.btn-1:hover{
    background-color: black;
    color: white;
    border:none;
    outline:none;
}

.fpas_papers{
   margin-top:-220px;
   padding-left: 150px
}
